main {

    @include breakpoint-down (medium) {
        text-align: center;
    }

}

.future {
    flex-wrap: wrap;
    margin-bottom: 26rem;

    @include breakpoint-down (medium) {
        align-items: center;
        text-align: center;
    }

    h1 {
        text-align: center;
        color: $veryDarkBlue;
        font-size: 3.5rem;
        font-family: $fontPrimary;
        font-weight: 400;
        margin-bottom: 10rem;
        width: 100%;

        @include breakpoint-down (medium) {
            margin-bottom: 4rem;
        }
    }

    &__left {
        width: 50%;
        height: 100%;
        padding-left: 13rem;

        @include breakpoint-down (medium) {
            width: 100%;
            padding: 0 5.3rem;
        }

        @include breakpoint-down (small) {
            width: 100%;
            padding: 0 2rem;
        }

        h3 {

            @include breakpoint-down (medium) {
                margin-bottom: 1.3rem;
            }

            @include breakpoint-down (small) {
                padding: 0 3rem;
            }
        }

        h3:nth-child(1) {
            margin-top: .7rem;
        }

        p {
            font-family: $fontPrimary;
            color: $veryDarkGreyishBlue;
            line-height: 2.5rem;
            font-size: 1.5rem;
            padding-right: 7rem;
            font-weight: 400;

            @include breakpoint-down (medium) {
                padding: 0
            }

            @include breakpoint-down (small) {
                padding: 0 2rem;
            }
        }

        p:not(:last-child) {
            margin-bottom: 7.5rem;

            @include breakpoint-down (medium) {
                margin-bottom: 4rem;
            }
        }

        .editor-mobile {
            margin: 0 auto 3rem;

            img {
                max-width: 40.6rem;
                width: 100%;
                height: auto;
            }
        }
    }

    &__right {
        position: relative;

        .editor {
            position: absolute;
            top: -21.5rem;
            left: 5rem;
            height: 83.7rem;

            img {
                height: 100%;
            }
        }
    }
}

.infra {
    background-image: url('/images/bg-pattern-circles.svg'),
        linear-gradient(to right, #2c2d3f, #3f4164);
    background-repeat: no-repeat;
    background-position: -67% 84%;
    height: 37.9rem;
    border-radius: 0 80px 0 80px;
    margin-bottom: 27rem;
    padding: 0 9rem;
    position: relative;

    @include breakpoint-down (medium) {
        background-position: 50% 91%;
        height: 40rem;
        background-size: 160%;
        padding: 0;
        flex-direction: column;
        margin-bottom: 6rem;
    }

    @include breakpoint-down (small) {
        height: 60rem;
        background-position: 50% -291%;
        background-size: 154%;
        position: relative;
    }

    &__left {
        flex: 1;

        @include breakpoint-down (medium) {
            width: 100%;
            top: -21rem;
            position: absolute;
        }

        @include breakpoint-down (small) {
            width: 100%;
            position: absolute;
            top: -14rem;
        }

        .phones {
            margin-top: -12%;

            @include breakpoint-down (medium) {
                width: 100%;
                margin: 0;
            }

            img {
                max-width: 51rem;

                @include breakpoint-down (medium) {
                    max-width: 35rem;
                    height: auto;
                }
            }

        }
    }

    &__right {
        flex: 1;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        font-weight: 400;

        @include breakpoint-down (medium) {
            width: 100%;
            margin: 0;
            padding-top: 5rem;
        }

        @include breakpoint-down (small) {
            margin: 0;
            padding-top: 13rem;
        }

        h1 {
            color: $white;
            font-family: $fontPrimary;
            font-size: 3.5rem;
            margin-bottom: 1.5rem;
            font-weight: 400;
        }

        p {
            font-size: 1.4rem;
            line-height: 2.5rem;
            font-family: $fontSecondary;
            color: $grayishBlue;
            width: 80%;

            @include breakpoint-down (medium) {
                width: 100%;
                padding: 0 5.3rem;
            }

            @include breakpoint-down (small) {
                padding: 0 3.5rem;
            }
        }
    }
}

.laptop {
    margin-bottom: 20rem;

    @include breakpoint-down (medium) {
        display: block;
        padding: 0 5.3rem;
    }

    @include breakpoint-down (small) {
        padding: 0;
        margin-bottom: 10rem;
    }

    &__left {
        flex: 1;
        width: 50%;
        position: relative;

        @include breakpoint-down (medium) {
            width: 100%;
        }

        img {
            position: absolute;
            top: -17rem;
            left: -25.5rem;
            max-width: 89rem;

            @include breakpoint-down (medium) {
                max-width: 70rem;
                top: -15rem;
                left: -20rem;
            }
        }
    }

    &__mobile {
        margin-bottom: 3rem;

        @include breakpoint-down (small) {
            max-width: 40rem;
        }

        img {
            @include breakpoint-down (small) {
                width: 100%;
            }
        }
    }

    &__right {
        flex: 1;
        width: 50%;

        @include breakpoint-down (medium) {
            justify-content: center;
            width: 100%;
        }

        @include breakpoint-down (small) {
            padding: 0 4rem;
        }

        p {
            font-family: $fontPrimary;
            color: $veryDarkGreyishBlue;
            line-height: 2.5rem;
            font-size: 1.5rem;
            font-weight: 400;
            width: 70%;

            @include breakpoint-down (medium) {
                width: 100%;
            }
        }

        p:not(last-child) {
            margin-bottom: 7rem;
        }
    }
}