// Fonts

$fontPrimary: "Overpass",
sans-serif;
$fontSecondary: "Ubuntu",
sans-serif;

// Colors

$lightRed: #ff525d;
$veryLightRed: #ff7a85;
$veryDarkBlue: #1f3f5b;
$white: #ffffff;
$grayishBlue: #c8c8cb;
$veryDarkGreyishBlue: #4b5862;
$veryDarkBlackBlue: #25252d;